<section class="about-section">
  <div class="container about-container">
    <div class="about-header">
      <h2 class="about-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="title-color">TASTE</span> SENSATION
      </h2>
      <p class="about-paragraph">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="about-list">
      <li class="about-item">
        <div class="card">
          <div class="card-front"><img
            class="card-image"
            src="../images/milk-chocolate.png"
            alt="Milk Chocolate"
          />
          <h3 class="text-card">MILK CHOCOLATE</h3></div>
          <div class="card-back">
            <div class="card-wrap">
              <div class="card-header">
                <h3>MILK CHOCOLATE</h3>
                <div class="card-buttons">
                  <button class="flip-button">milk chocolate</button>
                  <button class="flip-button">the benefits</button>
                </div>
              </div>
              <p>
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="about-item">
        <div class="card">
            <div class="card-front">
          <img class="card-image" src="../images/milk.png" alt="Milk" />
          <h3 class="text-card">MILK</h3></div>
          <div class="card-back">
            <div class="card-wrap">
              <div class="card-header">
                <h3>MILK</h3>
                <div class="card-buttons">
                  <button class="flip-button">milk</button>
                  <button class="flip-button">the benefits</button>
                </div>
              </div>
              <p>
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="about-item">
        <div class="card"><div class="card-front">
          <img class="card-image" src="../images/nuts.png" alt="Nuts" />
          <h3 class="text-card">NUTS</h3></div>
          <div class="card-back">
            <div class="card-wrap">
              <div class="card-header">
                <h3>NUTS</h3>
                <div class="card-buttons">
                  <button class="flip-button">nuts</button>
                  <button class="flip-button">the benefits</button>
                </div>
              </div>
              <p>
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They're a good source of
                fiber, healthy fats, and plant protein. Plus, they're great on
                their own.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="about-item">
        <div class="card">
            <div class="card-front">
          <img
            class="card-image"
            src="../images/semi-sweet.png"
            alt="Semi-Sweet Chocolate"
          />
          <h3 class="text-card">SEMI-SWEET CHOCOLATE</h3></div>
          <div class="card-back">
            <div class="card-wrap">
              <div class="card-header">
                <h3>SEMI-SWEET CHOCOLATE</h3>
                <div class="card-buttons">
                  <button class="flip-button">semi-sweet</button>
                  <button class="flip-button">the benefits</button>
                </div>
              </div>
              <p>
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is
                sweeter.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
