<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-bg">
      <div class="hero-content">
        <div class="hero-text">
          <p>
            Treat yourself or a loved one to our finest ingredients for a moment
            of pure delight!
          </p>
        </div>
        <div class="buttons-scroll">
          <div class="hero-buttons">
            <a href="#" class="btn btn-primary" id="openModalBtn">Buy now</a>
            <a href="#how" class="btn btn-secondary how-scroll">How it's made</a>
          </div>
          <div class="scroll-down">
            <a href="#footer" class="scroll-link"
              >scroll down
              <span class="arrow-wrap"
                ><svg class="arrow-icon">
                  <use href="./images/icons.svg#icon-arrow"></use></svg></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
