
<div class="container hero-container">
  <div class="hero-section">
    <div class="hero-bg">
      <div class="hero-content">
        <div class="hero-text"><p>
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </p></div>
        <div class="buttons-scroll">
        <div class="hero-buttons">
          <a href="#" class="btn btn-primary">Buy now</a>
          <a href="#" class="btn btn-secondary">How it's made</a>
        </div>
        <div class="scroll-down">
          <a href="#" class="scroll-link"
            >scroll down <span class="arrow-wrap"><svg class="arrow-icon">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg></span></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
