<section class="how-section" id="how">
  <div class="container">
      <h2 class="how-title">HOW IT'S <span class="title-color">MADE?</span></h2>
    <div class="how-content">
      <div class="video-wrap" onclick="playVideo(this)">
        <img class="video-cover" src="./images/video-bg-mob.png" alt="Preview">
        <div class="play-button"><svg class="play-icon">
            <use href="./images/icons.svg#icon-play"></use>
          </svg></div>
        <iframe
          class="video-iframe"
          id="youtube-video"
          src="https://www.youtube.com/embed/VXIsfa67PS8?autoplay=0&mute=0&controls=0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <div class="how-text">
        <h3>
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-list">
          <li>
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li>At the same time, prepare a water bath.</li>
          <li>Melt the butter on it.</li>
          <li>
            Mix the milk mixture and already liquid butter. Mix thoroughly with
            a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li>Heat the mixture over low heat, letting it slightly boil.</li>
          <li>
            Pour the chocolate into special containers (and be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
