<div class="modal-leave is-hidden-leave" id="modal">
<section class="leave-section ">
    <div class="container leave-container">
      <button type="button" id="closeLeaveModalBtn" class="mod-close">
          <svg class="mod-close-icon" width="28px" height="28px">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <h2 class="leave-title">leave a review 
        <br>about<span class="title-color"> our chocolate</span></br></h2>
    
          <input
            class="input"
            id="name"
            type="text"
            name="name"
            placeholder="Name"
            required
          />
 
          <input
            class="input"
            id="email"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
  
        <div class="phone-input">
          <div class="country-code">
            <img src="./images/flag.jpg" alt="German flag" />
            <span class="country-prefix">+49</span>
          </div>
          <div class="phone-divider"></div>
          <input
            class="phone-field"
            type="tel"
            id="phone"
            name="phone"
            placeholder="Phone number"
            required
          />
        </div>

  
        <textarea class="comment-input" id="comment" name="comment" placeholder="Enter text"></textarea>
  
        <button type="submit" class="submit-btn">Send</button>
      </form>
    </div>
  </section>
  </div>