<div class="modal-sub is-hidden-sub" id="modal-sub">
    <div class="modal-sub-wrap">
      <button type="button" id="closeSubModalBtn" class="modal-close-btn">
        <svg class="close-icon" width="28px" height="28px">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <img src="./images/modal-bg.jpg" alt="Chocolate" class="modal-image" />
      <div class="modal-content">
        <h2 class="modal-title">
          EXPLORE OUR <span class="highlight">NEW <br>CHOCOLATE</br></span> FIRST!
        </h2>
        <form class="modal-form">
          <input
            type="email"
            class="modal-input"
            placeholder="Enter your email"
            required
          />
          <button type="submit" class="modal-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  