<section class="our-section" id="our">
    <div class="container">
      <h2 class="our-title">
        Our <span class="title-color">Products</span>
      </h2>
  
      <div class="swiper product-swiper">
        <div class=" swiper-wrapper">
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
          <div class="swiper-slide our-card">
            <img
              class="bar-img"
              src="./images/orange-bar.jpg"
              alt="Chocolate Bar with oranges"
              width="230"
              height="201"
            />
            <div class="card-details">
              <h3 class="card-name">Orange</h3>
              <p class="card-description">Dark chocolate</p>
              <button class="btn price-btn">15 EUR</button>
            </div>
          </div>
        
        </div>
  
    
        <div class="swiper-pagination product-pagination"></div>
      </div>
    </div>
  </section>
