<section class="reviews-section">
  <div class="container">
    <header class="reviews-header">
      <h2 class="reviews-title">
        <span class="title-color">CHOCOLATE</span> IS LOVED
      </h2>
    </header>
    <div class="reviews-content">
      <div class="swiper review-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="review-card">
              <img
                src="./images/victoria.jpg"
                alt="Victoria Dobrzhanska"
                class="review-avatar"
              />
              <div class="review-details">
                <h3 class="review-name">Victoria Dobrzhanska</h3>
                <p class="review-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="review-card">
              <img
                src="./images/victoria.jpg"
                alt="Victoria Dobrzhanska"
                class="review-avatar"
              />
              <div class="review-details">
                <h3 class="review-name">Victoria Dobrzhanska</h3>
                <p class="review-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="review-card">
              <img
                src="./images/victoria.jpg"
                alt="Victoria Dobrzhanska"
                class="review-avatar"
              />
              <div class="review-details">
                <h3 class="review-name">Victoria Dobrzhanska</h3>
                <p class="review-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="review-card">
              <img
                src="./images/victoria.jpg"
                alt="Victoria Dobrzhanska"
                class="review-avatar"
              />
              <div class="review-details">
                <h3 class="review-name">Victoria Dobrzhanska</h3>
                <p class="review-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="review-card">
              <img
                src="./images/victoria.jpg"
                alt="Victoria Dobrzhanska"
                class="review-avatar"
              />
              <div class="review-details">
                <h3 class="review-name">Victoria Dobrzhanska</h3>
                <p class="review-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="review-card">
              <img
                src="./images/victoria.jpg"
                alt="Victoria Dobrzhanska"
                class="review-avatar"
              />
              <div class="review-details">
                <h3 class="review-name">Victoria Dobrzhanska</h3>
                <p class="review-text">
                  I love this chocolate bar. Perfect combination of light crispy
                  wafer, covered in a thin layer chocolate.
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <button class="review-button">Leave a review</button>
    </div>
  </div>
</section>
