.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: #111;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 128.571%;
  letter-spacing: -0.42px;
  margin-right: 4px;
}

.logo-icon {
  width: 21px;
  height: 21px;
}

.burger-menu {
  background: none;
  border: none;
}

.burger-icon {
  display: block;
  stroke: #111;
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 768px) {
  .burger-icon {
    width: 36px;
    height: 36px;
  }
}

/*Sidebar*/
.mob-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  right: -0;
  background-color: #111;
  height: 100%;
  width: 220px;
  overflow-x: hidden;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 290px;
  }
}

.mob-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.mob-close-icon {
  stroke: var(--white-color);
}

.mob-nav-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-left: 50px;
  padding-top: 136px;
}

.mob-nav-link {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 114.286%;
  letter-spacing: -0.28px;
  transition: color var(--transition);
}

.mob-nav-link:hover,
.mob-nav-link:focus,
.mob-nav-item.current .mob-nav-link {
  color: var(--brand-color);
}

.mob-nav-link:after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: var(--brand-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--transition);
}

.mob-nav-link:hover:after,
.mob-nav-link:focus:after,
.mob-nav-item.current .mob-nav-link:after {
  transform: scaleX(1);
}

.mob-soc-icon:focus,
.mob-soc-icon:hover {
  stroke: var(--brand-color);
}

.mob-soc-icon {
  stroke: var(--white-color);
  fill: transparent;
  width:20px;
  height:20px;
}

.mob-soc-list {
  display: flex;
  gap: 18px;
  padding-bottom: 20px;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-list,
.soc-list {
  display: none;
}

@media screen and (min-width: 1280px) {

  .header-container {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .burger-menu {
    display: none;
  }

  .logo-text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: -0.54px;
  }

  .logo-icon {
    width: 24px;
    height: 24px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  .nav-link {
    position: relative;
    color: var(--text-color);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 114.286%;
    letter-spacing: -0.28px;
    transition: color var(--transition);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-item.current .nav-link {
    color: var(--brand-color);
  }

  .nav-link:after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: var(--brand-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--transition);
  }

  .nav-link:hover:after,
  .nav-link:focus:after,
  .nav-item.current .nav-link:after {
    transform: scaleX(1);
  }

  .soc-icon:focus,
  .soc-icon:hover {
    stroke: var(--brand-color);
  }

  .soc-icon {
    stroke: var(--text-color);
    fill: transparent;
  }

  .soc-list {
    display: flex;
    gap: 18px;
  }
}
