.hero-container {
  padding-bottom: 70px;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  min-height: 621px;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/bg.jpg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white-color);
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero-section {
    padding: 40px;
  }
}

.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons-scroll {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .buttons-scroll {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 648px;
  }
}
@media (min-width: 1158px) {
  .buttons-scroll {
    min-width: 1158px;
  }
}

.hero-content p {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.6px;
}
@media (min-width: 768px) {
  .hero-content p {
    max-width: 480px;
    font-size: 28px;
    line-height: 121.429%;
    letter-spacing: -0.84px;
  }
}

.hero-buttons {
  display: flex;
  gap: 14px;
}

.hero-buttons .btn {
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
}
@media screen and (min-width: 428px) {
  .hero-buttons .btn {
    padding: 12px 28px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .hero-buttons .btn {
    padding: 14px 40px;
  }
}

.btn-primary {
  background-color: var(--brand-color);
  color: var(--white-color);
}

.btn-primary:hover, 
.btn-primary:focus {
  background-color: var(--light-color);
  color: var(--brand-color);
}

.btn-secondary {
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.scroll-link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--white-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.36px;
}
@media screen and (min-width: 768px) {
  .scroll-link {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.42px;
  }
}
.scroll-link:hover,
.scroll-link:focus {
  color: var(--brand-color);
}

.scroll-link .arrow-icon {
  fill: var(--brand-color);
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
    .arrow-icon {
        width: 22px;
        height: 22px;
    }
}
.scroll-link:hover .arrow-icon,
.scroll-link:focus .arrow-icon {
  fill: var(--white-color);
}

.arrow-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  background-color: var(--white-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .arrow-wrap {
    height: 38px;
    width: 38px;
  }
}
.scroll-link:hover .arrow-wrap,
.scroll-link:focus .arrow-wrap {
  background-color: var(--brand-color);
}