.modal-leave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
    padding: 16px;
  }

.is-hidden-leave {
    display: none;
  }

.modal-container {
    position: relative;
  padding: 32px 24px;
  border-radius: 15px;
  background: var(--white-color);
}

.mod-close {
  position: absolute;
  right: 14px;
  top: 14px;
  background: none;
  border: none;
  transition: border-color 0.2s ease;
}

.mod-close-icon {
  stroke: var(--text-color);
}
.mod-close-icon:hover, .mod-close-icon:focus {
    stroke: var(--brand-color);
}

.leave-container {
    position: relative;
    padding: 32px 24px;
    border-radius: 15px;
    background: var(--white-color);
}

.leave-title {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 32px;
  line-height: 24px;
}

.title-color {
  color: var(--brand-color);
}

.input {
  width: 100%;
  margin-bottom: 18px;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  background-color: transparent;
  transition: border-color 0.2s ease;
}
.input:first-child {
  margin-bottom: 14px;
}
.input:focus, .input:hover
.phone-field:focus, .phone-field:hover
textarea:focus {
  border-color: var(--brand-color);
  outline: none;
}

.phone-input {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 14px;
    border: 2px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 18px;
    transition: border-color 0.2s ease;
  }
  
  .country-code {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .country-code img {
    width: 24px;
    height: 16px;
    object-fit: cover;
  }
  
  .country-prefix {
    font-size: 14px;
    color: #333;
  }
  
  .phone-field {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: transparent;
  }
  .phone-divider{
    height: 24px;
    width: 1px;
    background-color: rgba(17, 17, 17, 0.05);
  }


textarea {
  width: 100%;
  height: 80px;
  padding: 14px 18px;
  border-radius: 8px;
  border: 2px solid rgba(17, 17, 17, 0.05);
  margin-bottom: 18px;
  resize: none;
  background-color: transparent;
  font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.submit-btn {
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 100px;
  border-color: transparent;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--brand-color);
  color: var(--white-color);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--light-color);
  color: var(--brand-color);
}


@media screen and (min-width: 768px) {
    .leave-container {
      max-width: 704px;
      padding: 40px;
      border-radius: 20px;
      margin: 0 auto;
    }
  
    .leave-title {
      font-size: 24px;
      margin-bottom: 40px;
    }

  
    .phone-input,
    textarea {
      margin-bottom: 24px;
    }
  
    .submit-btn {
      display: block;
      width: fit-content;
      padding: 14px 32px;
      font-size: 16px;
    }
  }