.sub-section {
    margin-bottom: 72px;
  }
  @media (min-width: 768px) {
    .sub-section {
      margin-bottom: 100px;
    }
  }
  
  @media (min-width: 1024px) {
    .sub-section {
      margin-bottom: 128px;
    }
  }
  .sub-title {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-bottom: 32px;
    text-align: center;
    color: var(--text-color);
  }